* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-base: #020617;
  --texto: #fffeff;
  --ciano: #00d1ff;
  --roxo: #5b2eff;
  --fonte: "Poppins", sans-serif;
}

body {
  background-color: var(--fundo-base);
  font-family: var(--fonte);
  color: var(--texto);

  min-height: 100vh;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  background: radial-gradient(
    circle at center,
    rgba(0, 209, 255, 0.2) 0%,
    rgba(27, 18, 53, 0.2) 85%
  );

  filter: blur(200px);
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

h3 {
  font-size: 42px;
  font-weight: 900;
}

p {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
}

.container {
  position: absolute;
  top: 150px;
  left: 48px;
  right: 48px;
}

.quem-somos-conteudo1 {
  margin-bottom: 55px;
}

.quem-somos-conteudo2 {
  margin-bottom: 108px;
}

.quem-somos-conteudo3 {
  width: 100%;
  left: 0;
  text-align: center;

  margin-bottom: 48px;

  background-image: linear-gradient(90deg, var(--ciano) 0%, var(--roxo) 55%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.success-page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;

  padding: 2rem;
}

.success-title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: white;
  margin-top: -10px;
}

.success-title span {
  background: linear-gradient(90deg, #00d1ff 52%, #8a38f5 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.success-mascot {
  width: 500px;
  margin: 1rem 0;
  margin-top: -40px;
}

.success-subtitle {
  color: #3bd9ff;
  margin-bottom: 1rem;
  margin-top: -20;
}

.success-text {
  color: white;
  max-width: 900px;
  line-height: 1.6;
  margin-top: -10px;
}

.success-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-primary {
  background: #5b2dff;
  color: white;

  border: none;
  border-radius: 30px;

  padding: 18px 40px;

  font-family: "Poppins", sans-serif;
  font-weight: 600;

  cursor: pointer;

  font-size: 1.1rem;
}

.success-navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
}

.navbar-logo {
  width: 150px;
}

.navbar-links {
  display: flex;
  gap: 2.5rem;

  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

.perfil-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  background: linear-gradient(90deg, #5b2eff 0%, #371c99 100%);

  border: none;
  border-radius: 20px;

  padding: 8px 16px;

  cursor: pointer;
}

.perfil-icon {
  width: 48px;
  height: 48px;

  border-radius: 50%;
}

.perfil-btn span {
  color: #00d1ff;

  font-weight: 700;
  font-size: 1rem;
}

/* NAVBAR!!!!*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;
}

.logo {
  width: 200px;
  height: 112px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--texto);
  font-size: 20px;
  font-weight: 400;
}

.btn-matricula {
  width: 264px;
  height: 60px;
  display: none;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--texto);

  font-size: 24px;
  font-weight: 900;

  border-radius: 20px;
  visibility: hidden;
  background: radial-gradient(circle, #5b2eff 0%, #371c99 100%);
}

/* Mobile NavBar */
.menu-hamburguer {
  display:none;
  cursor: pointer;
}
.menu-hamburguer div {
  width: 30px;
  height: 1px;
  margin: 8px;
  background-color: white;
}
.menu-lista {
  display: none;
}
.logo-menu-ativo {
  display:none;
}

@media (max-width: 1300px) {
  .navbar {
    right: 10px;
    align-items: space-between;
    justify-content: normal;
    padding: 0px, 19px;
  }
  .nav-links {
    display: none;
  }
  .menu-hamburguer {
    display: block;
    top: 20px;
    left: 27px;
    position: absolute
  }
  .logo {
    width : 70px;
    height: 39.36px;
    position: absolute;
    right: 220px;
    top: 15px;
  }
  .btn-matricula {
    width: 201px;
    height: 37px;
    font-size: 15.27px;
    right: 10px;
    top: 15px;
    position: absolute;
    z-index: 1;
    display: none;
    visibility: hidden;
  }
  .menu-lista {
    display: flex;
    position: fixed;
    font-size: 20px;
    top: 0px;
    left: -100%;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #251365 0%, #0f0829 100%);
    transition: top 0.3s ease-in-out;
    z-index: 30;
  }
  .menu-lista ul {
    list-style: none;
    width: 100%;
    padding: 20px;
  }
  .menu-lista li {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 24px 0;
}
  .menu-lista a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}
.menu-lista.ativo {
  left: 0;
}
.menu-lista.ativo .logo-menu-ativo {
  display: block;
  position: absolute;
  top: 26px;
  left: 28px;
  width: 30px;
  height: 30px;
  width: 108px;
  height: 60.42px;
}
.botao-fechar {
  position: absolute;
  top: 22px;
  right: 25px;
  font-size: 50.93px;
  cursor: pointer;
}
.btn-matricula.mob {
  width: 201px;
  height: 37px;
  font-size: 26px;
  top: 15px;
  position: absolute;
  display: none;
}

}
